<ion-header [translucent]="true">
  <ion-toolbar class="md">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title color="dark">Información</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="cont-page" [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar class="ios">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title color="dark" size="large">Información</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-card >
      <ion-card-header>
        <ion-card-title>Información básica</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-text class="head"><ion-icon name="alert-circle"></ion-icon> Estado</ion-text>
        <ion-text class="text" color="dark">{{clienteFormat.estado}}</ion-text>
        <ion-text class="head"><ion-icon name="reader"></ion-icon> Tipo de entidad</ion-text>
        <ion-text class="text" color="dark">{{clienteFormat.tipo}}</ion-text>
        <ion-text class="head"><ion-icon name="person"></ion-icon> Nombre completo</ion-text>
        <ion-text class="text" color="dark">{{clienteFormat.nombre}}</ion-text>
        <ion-text class="head"><ion-icon name="male-female"></ion-icon> Sexo</ion-text>
        <ion-text class="text" color="dark">{{clienteFormat.sexo}}</ion-text>
        <ion-text class="head"><ion-icon name="today"></ion-icon> Edad</ion-text>
        <ion-text class="text" color="dark">{{edad}} años</ion-text>
        <ion-text class="head"><ion-icon name="heart-circle"></ion-icon> Estado civil</ion-text>
        <ion-text class="text" color="dark">{{clienteFormat.estadoCivil}}</ion-text>
        <ion-text class="head"><ion-icon name="earth"></ion-icon> Nacionalidad</ion-text>
        <ion-text class="text" color="dark">{{clienteInfo.Nationality}}</ion-text>
      </ion-card-content>
    </ion-card>
    <ion-card >
      <ion-card-header>
        <ion-card-title>Información de trabajo y documentación</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div class="work">
          <ion-text class="head"><ion-icon name="business"></ion-icon> Institución</ion-text>
          <ion-text class="text" color="dark">{{clienteInfo.WorkDetails[0].CompanyName}}</ion-text>
          <ion-text class="head"><ion-icon name="school"></ion-icon> Profesión</ion-text>
          <ion-text class="text" color="dark">{{clienteInfo.WorkDetails[0].ProfessionName}}</ion-text>
          <ion-text class="head"><ion-icon name="briefcase"></ion-icon> Posición</ion-text>
          <ion-text class="text" color="dark">{{clienteInfo.WorkDetails[0].JobTitle}}</ion-text>
      </div>
      <div class="id">
          <ion-text class="head"><ion-icon name="id-card"></ion-icon> Identificación</ion-text>
          <ion-text class="text" color="dark">{{clienteInfo.Documents[0].DocumentValue}}</ion-text>
      </div>
      </ion-card-content>
    </ion-card>
    <ion-card >
      <ion-card-header>
        <ion-card-title>Información de contacto y dirección</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div class="contact">
          <ion-text class="head"><ion-icon name="call"></ion-icon> Telefono</ion-text>
          <ion-text class="text" color="dark">{{clienteInfo.Contacts[0].PhoneCountryCode}}
              {{clienteInfo.Contacts[0].PhoneNumber}}
            </ion-text>
          <ion-text class="head"><ion-icon name="mail"></ion-icon> Correo</ion-text>
          <ion-text class="text" color="dark">{{clienteInfo.Contacts[0].EmailAddress}}</ion-text>
        </div>
        <div class="home">
          <ion-text class="head"><ion-icon name="home"></ion-icon> Dirección</ion-text>
          <ion-text class="text" color="dark">
            <p>{{clienteInfo.Address[0].StreetName}}
              {{clienteInfo.Address[0].BuildingNumber}}
              {{clienteInfo.Address[0].Department}}
            </p>
            <p>Código postal: {{clienteInfo.Address[0].PostCode}}</p>
            <p>{{clienteInfo.Address[0].TownName}}</p>
            <p>{{clienteInfo.Address[0].CountrySubDivision}}</p>
            <p>{{clienteInfo.Address[0].Country}}</p>
          </ion-text>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
