<ion-header [translucent]="true">
  <ion-toolbar class="md">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Información</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar class="ios">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title size="large">Información</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-card >
      <ion-card-header>
        <ion-card-title>Información básica</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p class="head"><ion-icon name="alert-circle"></ion-icon> Estado</p>
        <p class="text">{{clienteFormat.estado}}</p>
        <p class="head"><ion-icon name="reader"></ion-icon> Tipo de entidad</p>
        <p class="text">{{clienteFormat.tipo}}</p>
        <p class="head"><ion-icon name="person"></ion-icon> Nombre completo</p>
        <p class="text">{{clienteFormat.nombre}}</p>
        <p class="head"><ion-icon name="male-female"></ion-icon> Sexo</p>
        <p class="text">{{clienteFormat.sexo}}</p>
        <p class="head"><ion-icon name="today"></ion-icon> Edad</p>
        <p class="text">{{edad}} años</p>
        <p class="head"><ion-icon name="heart-circle"></ion-icon> Estado civil</p>
        <p class="text">{{clienteFormat.estadoCivil}}</p>
        <p class="head"><ion-icon name="earth"></ion-icon> Nacionalidad</p>
        <p class="text">{{clienteInfo.Nationality}}</p>
      </ion-card-content>
    </ion-card>
    <ion-card >
      <ion-card-header>
        <ion-card-title>Información de trabajo y documentación</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div class="work">
          <p class="head"><ion-icon name="business"></ion-icon> Institución</p>
          <p class="text">{{clienteInfo.WorkDetails[0].CompanyName}}</p>
          <p class="head"><ion-icon name="school"></ion-icon> Profesión</p>
          <p class="text">{{clienteInfo.WorkDetails[0].ProfessionName}}</p>
          <p class="head"><ion-icon name="id-card"></ion-icon> Posición</p>
          <p class="text">{{clienteInfo.WorkDetails[0].JobTitle}}</p>
      </div>
      <div class="id">
          <p class="head"><ion-icon name="finger-print"></ion-icon> Identificación</p>
          <p class="text">{{clienteInfo.Documents[0].DocumentValue}}</p>
      </div>
      </ion-card-content>
    </ion-card>
    <ion-card >
      <ion-card-header>
        <ion-card-title>Información de contacto y dirección</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div class="contact">
          <p class="head"><ion-icon name="call"></ion-icon> Telefono</p>
          <p class="text">{{clienteInfo.Contacts[0].PhoneCountryCode}}
              {{clienteInfo.Contacts[0].PhoneNumber}}
          </p>
          <p class="head"><ion-icon name="mail"></ion-icon> Correo</p>
          <p class="text">{{clienteInfo.Contacts[0].EmailAddress}}</p>
      </div>
      <div class="home">
          <p class="head"><ion-icon name="home"></ion-icon> Dirección</p>
          <p class="text">{{clienteInfo.Address[0].StreetName}}
              {{clienteInfo.Address[0].BuildingNumber}}
              {{clienteInfo.Address[0].Department}}
          </p>
          <p class="text">Código postal: {{clienteInfo.Address[0].PostCode}}</p>
          <p class="text">{{clienteInfo.Address[0].TownName}}</p>
          <p class="text">{{clienteInfo.Address[0].CountrySubDivision}}</p>
          <p class="text">{{clienteInfo.Address[0].Country}}</p>
      </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
