<ion-header [translucent]="true">
  <ion-toolbar class="md">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title color="dark">Crédito actual</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar class="ios">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title color="dark" size="large">Crédito actual</ion-title>
    </ion-toolbar>
  </ion-header>
  <div id="container">
    <div *ngIf="currentCredit.loans.loansQuantity > 0">
      <ion-card>
        <ion-card-header>
          <ion-card-title >Prestamos</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-text class="head"><ion-icon name="calculator"></ion-icon> Cantidad</ion-text>
          <ion-text color="dark" class="text">{{currentCredit.loans.loansQuantity}}</ion-text>
          <ion-text class="head"><ion-icon name="calendar-clear"></ion-icon> Completados</ion-text>
          <ion-text color="dark" class="text">{{currentCredit.loans.loanStatusCount.completed}}</ion-text>
          <ion-text class="head"><ion-icon name="time"></ion-icon> En curso</ion-text>
          <ion-text color="dark" class="text">{{currentCredit.loans.loanStatusCount.inProgress}}</ion-text>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Pagos</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-text class="head"><ion-icon name="calculator"></ion-icon> Cantidad</ion-text>
          <ion-text color="dark" class="text">{{currentCredit.payments.goodPayments + currentCredit.payments.badPayments}}</ion-text>
          <ion-text class="head"><ion-icon name="checkmark-circle"></ion-icon> Correctos</ion-text>
          <ion-text color="dark" class="text">{{currentCredit.payments.goodPayments}}</ion-text>
          <ion-text class="head"><ion-icon name="close-circle"></ion-icon> Incorrectos</ion-text>
          <ion-text color="dark" class="text">{{currentCredit.payments.badPayments}}</ion-text>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Prestamos actuales</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <div *ngIf="currentCredit.loans.loanStatusCount.inProgress > 0" class="actual"> 
            <ion-text class="head"><ion-icon name="wallet"></ion-icon> Monto total prestamos</ion-text>
            <ion-text color="dark" class="text">{{currentCredit.currentLoans.totalAmount | currency:'DOP':'RD$'}}</ion-text>
            <ion-text class="head"><ion-icon name="wallet"></ion-icon> Monto total pagado</ion-text>
            <ion-text color="dark" class="text">{{currentCredit.currentLoans.totalCurrentAmount | currency:'DOP':'RD$'}}</ion-text>
            <ion-text class="head"><ion-icon name="wallet"></ion-icon> Monto total pendiente por pagar</ion-text>
            <ion-text color="dark" class="text">
                {{currentCredit.currentLoans.totalAmount - currentCredit.currentLoans.totalCurrentAmount | currency:'DOP':'RD$'}}
            </ion-text>
            <ion-text class="head"><ion-icon name="calculator"></ion-icon> Total pagos a realizar</ion-text>
            <ion-text color="dark" class="text">{{currentCredit.currentLoans.totalPayments}}</ion-text>
            <ion-text class="head"><ion-icon name="calendar-clear"></ion-icon> Total pagos realizados</ion-text>
            <ion-text color="dark" class="text">{{currentCredit.currentLoans.payments.goodPayments + currentCredit.currentLoans.payments.badPayments}}</ion-text>
            <ion-text class="head"><ion-icon name="checkmark-circle"></ion-icon> Total pagos correctos</ion-text>
            <ion-text color="dark" class="text">{{currentCredit.currentLoans.payments.goodPayments}}</ion-text>
            <ion-text class="head"><ion-icon name="close-circle"></ion-icon> Total pagos incorrectos</ion-text>
            <ion-text color="dark" class="text">{{currentCredit.currentLoans.payments.badPayments}}</ion-text>
          </div>
          <div *ngIf="currentCredit.loans.loanStatusCount.inProgress == 0" class="actual">
            <ion-text><h1 class="NoProgress">No se encontró prestamos en progreso.</h1></ion-text>
          </div>
        </ion-card-content>
      </ion-card>
    </div>
    <div class="NotFound" *ngIf="currentCredit.loans.loansQuantity == 0">
      <ion-card>
        <ion-card-header>
          <ion-card-title><ion-icon name="sad"></ion-icon></ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-text><h1 class="head">No se encontró prestamos a nombre de este cliente.</h1></ion-text>
          <ion-text color="dark" class="text">Para poder presentar información en esta pantalla el cliente debe de tener prestamos realizados con este banco.</ion-text>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>